# deps
node_modules/
.env
DTC.bin
AUTOMOTIVE_DATASETS_AND_RESOURCES.md
CARSENSE_BACKEND_DOCUMENTATION.md
ML_SERVICE_ROADMAP.md
carsense-vehicle-valuation.md
.DS_Store
dist
dist-ssr
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.dev.vars